@import '../../../styles.scss';
.container-form {
    padding: 20px;

    .form {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .title-form {
        @include font-stylus(600, 14px, #222);
        text-align: center;
    }
}