<mat-tab-group>
    <mat-tab label="Cadastro dos produtos">
        <div class="container-form" fxLayout="column" fxLayoutALign="space-around stretch">

            <form [formGroup]="productForm" class="form" fxLayout="column" fxLayoutAlign="space-around stretch">
                <h1 class="title-form">Produtos</h1>
                <div flex fxLayout="row" fxLayoutALign="space-between center">
                    <mat-form-field fxFlex="40">
                        <input matInput type="text" placeholder="Nome do produto">
                    </mat-form-field>
                    <mat-form-field fxFlex="40">
                        <input matInput type="text" placeholder="Marca do produto">
                    </mat-form-field>
                </div>
            </form>

        </div>
    </mat-tab>

    <mat-tab label="Meus produtos"></mat-tab>

    <mat-tab label="test"></mat-tab>
  </mat-tab-group>