.sidenav {
    width: 150px;
    background-color: #6473bb;

    a {
        color: #fff;
    }

    i {
        padding-right: 10px;
    }
}

.content {
    padding: 16px;
    background-color: #ffffff;
}